.form {
  padding: 30px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50rem;
  section {
    display: flex;
    justify-content: space-between;
    input {
      width: 22rem;
      height: 3rem;
      border-radius: 5px;
      border-color: #d5d4d8c2;
      border-style: solid;
      padding: 5px;
    }
  }
}

#submit {
  background: linear-gradient(to right, #672280, #A626D3);
  box-shadow: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  height: 3.5rem;
  border: none;
}

.meme {
  display: flex;
  position: relative;
  justify-content: center;
  img {
    width: 40rem;
    margin: 0 auto;
  }
  h3 {
    position: absolute;
    color: white;
  }
  .top {
    top: 0px;
  }
  .bottom {
    bottom: 0px;
  }
}
